/* TODO Put this in <style /> */
.webgl-error .hide-on-error {
    display: none;
}
.show-on-error {
    display: none;
}
.webgl-error span.show-on-error {
    display: inline !important;
}
.webgl-error div.show-on-error,
.webgl-error p.show-on-error,
.webgl-error h4.show-on-error
{
    display: block !important;
}
.webgl-error .webgl-error-red {
    color: #b73b33;
}


div#newton-container {
    height: 45vh;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
    background-color: #fff;
    position: relative;
}
div#newton-container.affix {
    top: 0px;
    z-index: 9000;
    position: fixed;
}
div#newton-container.affix-top {
}
div#newton-inner-container {
    width: 100%;
    height: 100%;
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    max-height: 45vh;
}
#newton-controls {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 5px;
}
.fullscreen #newton-controls {
    bottom: auto;
    top: 0;

    /* iPhone X */
    padding-left: constant(safe-area-inset-left);
    padding-right: constant(safe-area-inset-right);

    /* iPhone X running iOS 11.2+ */
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}
#newton-controls > button {
    background-color: transparent;
    color: #aaa;
    mix-blend-mode: screen;
    max-width: 38px;
}
#newton-controls > button.left {
    float: left;
}
#newton-controls > button.right {
    float: right;
}
.fullscreen > #newton-controls > button {
    right: 10px;
}
#newton-controls > button:hover {
    background: rgba(255, 255, 255, 0.15);
}
select#equation, div.selectize-control {
    margin-left: 76px;
    margin-right: 76px;
}
.selectize-input, .selectize-input.full {
    border: 0px;
    background: none;
    mix-blend-mode: screen;
    color: #aaa;
}
.selectize-dropdown, .selectize-input, .selectize-input input {
}
.selectize-control.single .selectize-input:after {
    border-color: #aaa transparent transparent;
    mix-blend-mode: screen;
}
.selectize-control.single:hover .selectize-input {
    background: rgba(255, 255, 255, 0.15);
}
.selectize-control.single .selectize-input.input-active,
.selectize-dropdown {
    background: rgba(255, 255, 255, 0.7);
}
.selectize-dropdown .optgroup:before {
    background-color: initial;
}
.selectize-dropdown .optgroup-header {
    background: none;
    color: #333;
    font-weight: 600;
}
.fullscreen .selectize-dropdown-content {
    max-height: 40vh;
}
.selectize-dropdown-content {
    line-height: 18px;
    font-size: 12px;
}


canvas#newton {
    width: 100%;
    height: 100%;
    background-color: #333;
}
div#newton-container.fullscreen {
    width: 100vw !important;
    height: 100vh !important;
    left: 0px;
    top: 0px;
    position: fixed;
    z-index: 9000;
    border-top: 0px;
    border-bottom: 0px;
}
.fullscreen > div#newton-inner-container {
    width: 100% !important;
    max-height: none;
}
.fullscreen canvas#newton {
    width: 100% !important;
}

div#newton-error {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px 15px;
    margin: 5px;
    background-color: rgba(255, 0, 0, 0.7);
    color: #fff;
    border-radius: 4px;
    display: none;
    font-size: 12px;
}
div#newton-error > pre {
    background: none;
    color: #fff;
    font-size: 10px;
    padding: 0;
    margin: 0;
}

.sqrt {
    border-top: 1px solid #333;
    padding-left: 2px;
}
.sqrt sup {
    font-size: 70%;
}
.sqrt-symbol {
    position: relative;
    right: 0.06em;
}
.equation .sqrt-symbol {
    position: relative;
    top: -2px;
    right: -1px;
}
.equation .line {
    line-height: 1px;
    height: 1px;
    display: block;
    background-color: #333;
    margin: auto;
}

.clickable {
    border-bottom: 1px solid #b73b33;
    padding: 0px 3px;
    white-space: nowrap;
}
.clickable:hover {
    border-color: #dd483e;
    cursor: pointer;
}
.webgl-error .clickable:hover {
    border-color: #b73b33;
    cursor: auto;
}

#newton-prefs {
    padding: 5px 0 0 0;
}
#newton-prefs > div, #newton-prefs > select {
    font-size: 10px;
    float: right;
    clear: right;
}
#newton-prefs select.form-control {
    height: auto;
    width: auto;
    margin-bottom: 5px;
}
#fps {
    margin-top: 5px;
}

.transition-progress-bg {
    height: 1px;
    width: 100%;
    background-color: #ccc;
    position: absolute;
    bottom: 0;
    left: 0;
}
.transition-progress {
    background-color: #333;
    width: 10%;
    height: 100%;
}